{%extends 'base.html' %}

{%block content %}

<article>
    <h1>Current News</h1>
    <img src="{% static "images/news.webp" %}" alt="home" />
    <p>Ukrainian President Volodymyr Zelensky has welcomed to Kyiv a congressional delegation led by Senate
        Minority Leader Mitch McConnell. Zelensky said on his Instagram account that the visit "is a strong
        signal of bipartisan support for Ukraine from the United States Congress and the American people."</p>
    <p>He added: "Thank you for your leadership in helping us in our struggle not only for our country, but also
        for democratic values and freedoms. We really appreciate it." Republican Sens. Susan Collins of Maine,
        John Barrasso of Wyoming and John Cornyn of Texas were also seen meeting Zelensky in video and photos
        posted to the Ukrainian president's social media accounts.</p>
</article>

{%endblock content %}